﻿body {
	background-color: #E3FFFF;
}

.main-contents {
	margin: auto;
	background-color: white;
	height: 100%;
	width: 800px;
}

.comment {
	font-size: 14px;
	font-family: 'メイリオ', Meiryo,sans-serif;
	background-color: #F5F5DC;
	margin-left: 1em;
	padding: 0.5em 1em;
	border-top: solid 1px #ccc;
	width: 90%;
}

.comment-area {
	font-size: 12px;
	width: 100%;
	margin-left: 1em;
	padding-left: 1em;
}

	.comment-area textarea {
		width: 90%;
	}

.title {
	margin-top: 20px;
	font-size: 18px;
}

.header {
	text-align: center;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.messages {
	font-size: 14px;
	font-family: 'メイリオ', Meiryo,sans-serif;
	margin: 10px 6px;
}

.message {
	background-color: white;
	padding: 0.6em;
	margin: 1.5em 0.5em;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
